@import "../../styles/colors.scss";

.button {
  height: max-content;
  width: max-content;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  transition: background-color 0.2s;

  & > span {
    white-space: nowrap;
  }

  &--primary {
    background-color: $color-primary;
    color: white;

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }

  &--danger {
    background-color: $color-error;
    color: white;

    &:hover {
      background-color: darken($color-error, 10%);
    }
  }

  &--success {
    background-color: $color-success;
    color: white;

    &:hover {
      background-color: darken($color-success, 10%);
    }
  }
}
