@import "../../styles/colors.scss";

.dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  padding: 0.5rem;
  border: 1px solid darken(white, 10%);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.75rem;

  @media (prefers-color-scheme: dark) {
    border: 1px solid $color-primary;
    background-color: $color-dark-primary;
  }

  & > option {
    font-size: 0.75rem;
    font-weight: 600;
    color: $color-primary;
  }
}
