@import "../../styles/colors.scss";
@import "./dropdown.scss";

.base__setting {
  display: flex;
  flex-direction: column;
}

.setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid darken(white, 10%);
  padding: 1rem 0;

  @media (prefers-color-scheme: dark) {
    border-top: 1px solid $color-primary;
  }

  & > p {
    font-size: 0.75rem;
    font-weight: 600;
    margin: 0;
    color: $color-primary;

    @media (prefers-color-scheme: dark) {
      color: $color-secondary;
    }
  }

  &--column {
    flex-direction: column;
  }

  &__save {
    align-self: flex-end;
    width: fit-content;
    padding: 0.25rem 1rem;
    border: none;
    font-size: 0.75rem;
    font-weight: 400;
    color: white;
    cursor: pointer;
    margin-bottom: 1rem;
    background-color: #2693e6;

    &:hover {
      background-color: darken(#2693e6, 10%);
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
      font-size: 0.75rem;
      font-weight: 600;
      margin: 0;
      color: $color-primary;

      @media (prefers-color-scheme: dark) {
        color: $color-secondary;
      }
    }

    &__description {
      font-size: 0.65rem;
      font-weight: 400;
      margin: 0;
      color: #444;
      padding-right: 2rem;
      margin-top: 0.5rem;

      @media (prefers-color-scheme: dark) {
        color: #888;
      }
    }
  }

  .text {
    font-size: 0.75rem;
    font-weight: 600;
    color: $color-primary;
    padding: 0rem 0.5rem;
    margin: 0;
    height: 2rem;
    width: 5rem;
    border: 1px solid darken(white, 10%);
    border-radius: 0.5rem;

    @media (prefers-color-scheme: dark) {
      background-color: $color-dark-primary;
      border: 1px solid $color-primary;
      color: $color-secondary;
    }

    &.large {
      width: 10rem;
    }

    &.small {
      width: 3rem;
      text-align: center;
    }
  }
}
