// Other color variables
$color-primary: #40396b;
$color-secondary: #dccff2;
$color-tertiary: #f8f6fa;
$color-success: #10b54f;
$color-warning: #ffae00;
$color-error: #cc4b37;

$color-dark-primary: #212121;
$color-dark-secondary: #171717;
$color-dark-tertiary: #3a393c;
