@import "../../styles/colors.scss";

.header {
  display: flex;
  height: 96px;
  background-color: $color-tertiary;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;

  @media (prefers-color-scheme: dark) {
    background-color: $color-dark-primary;
  }

  &__logo {
    width: 60px;

    @media (prefers-color-scheme: dark) {
      path {
        fill: $color-secondary;
      }
    }
  }

  &-nav {
    &__container {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  &-utility {
    &__container {
      display: flex;
      align-items: center;
    }
  }
}
