@import '../../styles/colors.scss';

.header {
  display: flex;
  height: 96px;
  background-color: $color-tertiary;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;

  // TODO: Implement dark mode
  // @media (prefers-color-scheme: dark) {
  //   background-color: $color-secondary;
  // }

  &__logo {
    width: 60px;
  }

  &-nav {
    &__container {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  &-utility {
    &__container {
      display: flex;
      align-items: center;
    }
  }
}