@import '../../styles/colors.scss';

.header {
  display: flex;
  height: 96px;
  background-color: $color-tertiary;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 60px;
  }

  &-nav {
    &__container {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}