@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

$sidebar-width: 20rem;

.sidebar {
  position: relative;
  height: 100%;
  width: $sidebar-width;
  background-color: white;
  border-radius: 0 1rem 1rem 0;
  transition: width 0.3s ease, margin-left 0.3s ease;
  overflow: hidden;

  // When sidebar is open
  &--open {
    width: $sidebar-width;
  }

  // When sidebar is closed
  &--closed {
    width: 0;
  }

  // SIDEBAR CONTAINER
  &-container {
    position: relative;
    height: 100%;
    width: 100%;
  }

  // SIDEBAR CONTENT
  &-content {
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;

    &__title {
      h3 {
        color: $color-primary;
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        margin: 0;
        margin-bottom: 1rem;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
    }
  }

  // SIDEBAR CONTROLLER
  &-controller {
    position: fixed;
    top: 50%;
    translate: -1.5rem 50%;
  }
}