@import "../../styles/colors.scss";

.keybinds-table {
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: $color-tertiary;
    color: $color-primary;
    text-align: left;


    @media (prefers-color-scheme: dark) {
      background-color: $color-dark-primary;
      color: $color-secondary;
    }

    th {
      font-size: 1rem;
      padding: 0.5rem;
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $color-tertiary;

        @media (prefers-color-scheme: dark) {
          background-color: $color-dark-tertiary;
        }
      }

      &:nth-child(even) {
        background-color: darken($color-tertiary, 3%);

        @media (prefers-color-scheme: dark) {
          background-color: darken($color-dark-tertiary, 5%);
        }
      }

      td {
        font-size: 0.75rem;
        padding: 0.2rem 0.5rem;
      }
    }
  }


  &__button {
    background-color: $color-secondary;
    border: none;
    color: $color-primary;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.2rem 1rem;
    transition: background-color 0.3s;
    border-radius: 999px;

    @media (prefers-color-scheme: dark) {
      background-color: $color-dark-secondary;
      color: $color-secondary;
    }

    &:hover {
      background-color: darken($color-secondary, 5%);

      @media (prefers-color-scheme: dark) {
        background-color: darken($color-dark-secondary, 5%);
      }
    }
  }

}