:root {
  color-scheme: light dark;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased; /* for Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* for Firefox */
}
